<launch>
 <!-- specify the planning pipeline -->
  <arg name="pipeline" default="ompl" />

  <!-- By default, we do not start a database (it can be large) -->
  <arg name="db" default="false" />
  <!-- Allow user to specify database location -->
  <arg name="db_path" default="$(find qj_config)/default_warehouse_mongo_db" />

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <!-- By default, we will load or override the robot_description -->
  <arg name="load_robot_description" default="true"/>
  <arg name="use_gui" default="true" />
  <arg name="use_rviz" default="true" />

 <include file="$(find qj_config)/launch/move_group.launch">
  </include>
  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find qj_config)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
    <arg name="rviz_config" value="$(find qj_config)/launch/moveit.rviz"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>


<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <!--只会从零点进行规划rosparam param="/source_list">[/joint_states]</rosparam-->  
    <!--rosparam param="/source_list">[/probot_anno/joint_states]</rosparam-->
    <rosparam param="/source_list">[/joint_states]</rosparam>

</node>



</launch>
