controller_list:
  - name: fake_arm_grippertest_controller
    type: $(arg fake_execution_type)
    joints:
      - Joint_1
      - Joint_2
  - name: fake_hand_grippertest_controller
    type: $(arg fake_execution_type)
    joints:
      - Joint_exterfinger
      - Joint_innerfinger
initial:  # Define initial robot poses.
  - group: arm_grippertest
    pose: up
  - group: hand_grippertest
    pose: open